// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
  color: black;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  list-style: nome;
}

.outer-wrapper {
  max-width: 650px;
  margin: auto;
}

.avatar {
  width: 120px;
  height: 120px;
  background: #c1c1c1;
  margin: auto;
  border-radius: 100%;
  overflow: hidden;
  & img {
    width: 100%;
  }
}

.img-job {
  width: 200px;
  height: 200px;
}

.div-job {
  width: 33%;
  height: 400px;
  float: left;
}
.atributos{
  padding: 3px;
  border: 1px solid #c1c1c1;
  margin: 1px 3px;
  border-radius: 3px;
}
.div-bio {
  padding-left: 25%;
  width: 50%;
}



.fonte-bacana {
  font-family: 'Indie Flower', cursive;
}

h1 {
  font-size: 3em;
}

h2, h3 {
  font-size: 2em;
}
